<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protfolio</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>

<body>
    <div class="container">
        <nav id="header">
            <div class="nav-logo">
                <p class="nav-name">Mohammad Faisal J</p>
                <span>.</span>
            </div>
            <div class="nav-menu" id="myNavMenu">
                <ul class="nav_menu_list">
                    <li class="nav_list">
                        <a href="#home" class="nav-link active-link">Home</a>
                        <div class="circle"></div>
                    </li>
                    <li class="nav_list">
                        <a href="#about" class="nav-link">About</a>
                        <div class="circle"></div>
                    </li>
                    <li class="nav_list">
                        <a href="#projects" class="nav-link">Projects</a>
                        <div class="circle"></div>
                    </li>
                    <li class="nav_list">
                        <a href="#contact" class="nav-link">Contact</a>
                        <div class="circle"></div>
                    </li>
                </ul>
            </div>
            <div class="nav-button">
                <a href="{% static 'img/cv.png'%}" download="resume">
                    <button class="btn">Download CV <i class="fa-solid fa-file"></i></button></a>
            </div>
            <div class="nav-menu-btn">

                <i class="fa-solid fa-bars" onclick="myMenuFunction()"></i>
            </div>
        </nav>
        <main class="wrapper">
            <section class="featured-box" id="home">
                <div class="featured-text">
                    <div class="featured-text-card">
                        <span>Mohammad Faisal J</span>
                    </div>
                    <div class="featured-name">
                        <p>I'm <span class="typedText"></span></p>
                    </div>
                    <div class="featured-text-info">
                        <p>I'm full stack developer passionate about creating performant and scalable web apps, mobile
                            app developer creating visually appealing and user-friendly apps, Python developer creating
                            efficient programs and scripts, and YouTube content creator making engaging videos.
                        </p>
                    </div>
                    <div class="featured-text-btn">
                        <a href="{% static 'img/cv.png'%}" download="resume">
                            <button class="btn">Download CV <i class="fa-solid fa-file"></i></button></a>
                    </div>
                    <div class="social_icons">
                        <a href="https://www.linkedin.com/in/mohammad-faisal-j-936b39240/">
                            <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                        </a>
                        <a href="https://www.instagram.com/faiz.f_s?igsh=MWljNzExY2pvdWlucA==">
                            <div class="icon"><i class="fa-brands fa-linkedin"></i></div>
                        </a>
                        <a href="https://www.youtube.com/@CraftCodewithFs">
                            <div class="icon"><i class="fa-brands fa-youtube"></i></div>
                        </a>
                        <a href="https://github.com/Faiz-fs">
                            <div class="icon"><i class="fa-brands fa-github"></i></div>
                        </a>
                    </div>
                </div>
                <div class="featured-image">
                    <div class="image">
                        <img src="{% static 'img/me.jpg'%}" alt="avatar">
                    </div>
                </div>
                <div class="scroll-icon-box">
                    <a href="#about" class="scroll-btn">
                        <i class="fa-solid fa-computer-mouse"></i>
                        <p>Scroll Down</p>
                    </a>
                </div>
            </section>
            <section class="section" id="about">
                <div class="top-header">
                    <h1>About Me</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="about-info">
                            <h3>My introduction</h3>
                            <p>I am into Python development, Flutter development, web and mobile application
                                development, artificial intelligence/machine learning models, SQL databases, front-end
                                development with JavaScript, HTML, CSS, Flask and Django frameworks for Python web apps
                                and APIs, which allows me to build performant and scalable full-stack solutions across
                                platforms. My experience with these cutting-edge technologies and frameworks enables me
                                to implement interactive features and integrate effective data storage and manipulation.
                            </p>
                            <div class="about-btn">
                                <a href="{% static 'img/cv.png'%}" download="resume">
                                    <button class="btn">Download CV <i class="fa-solid fa-download"></i></button></a>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="skills-box">
                            <div class="skills-header">
                                <h3>Frontend</h3>
                            </div>
                            <div class="skills-list">
                                <span>HTML</span>
                                <span>CSS</span>
                                <span>JavaScript</span>
                                <span>Flutter</span>
                            </div>
                        </div>
                        <div class="skills-box">
                            <div class="skills-header">
                                <h3>Backend</h3>
                            </div>
                            <div class="skills-list">
                                <span>JAVA</span>
                                <span>Python</span>
                                <span>Python-Flask</span>
                                <span>Python-Django</span>
                            </div>
                        </div>
                        <div class="skills-box">
                            <div class="skills-header">
                                <h3>Database</h3>
                            </div>
                            <div class="skills-list">
                                <span>MySQL</span>
                                <span>MongoDB</span>
                                <span>Firebase</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <section class="education-section">
                            <div class="top-header">
                                <h1>Education</h1>
                            </div>
                            <div class="education_content">
                                <div>
                                    <h2 class="education_year">2014-2021</h2>
                                    <span class="education_university">
                                        Vishwa Sishya Vidyodaya</span>
                                </div>
                                <div class="education_time">
                                    <span class="education_rounder"></span>
                                    <span class="education_line"></span>
                                </div>
                                <div>
                                    <h3 class="eduation_race">Higher Education, Computer Science</h3>
                                </div>
                            </div>
                            <div class="education_content">
                                <div>
                                    <h2 class="education_year">2021-Present</h2>
                                    <span class="education_university">Dr.Mahalingam College of Engineering and
                                        Technology </span>
                                </div>
                                <div class="education_time">
                                    <span class="education_rounder"></span>
                                    <span class="education_line"></span>
                                </div>
                                <div>
                                    <h3 class="eduation_race">Bachelor of Engineering - BE, Computer Science</h3>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col">
                        <section class="education-section">
                            <div class="top-header">
                                <h1>Internship</h1>
                            </div>
                            <div class="education_content">
                                <div>
                                    <h2 class="education_year">2nd Jan -16th Jan, 2023</h2>
                                    <span class="education_university">
                                        IBM SkillsBuild: virtual</span>
                                </div>
                                <div class="education_time">
                                    <span class="education_rounder"></span>
                                    <span class="education_line"></span>
                                </div>
                                <div>
                                    <h3 class="eduation_race">Emerging Technologies</h3>
                                    <span class="education_university">Artificial Intelligence Fundamentals</span>
                                </div>
                            </div>
                            <div class="education_content">
                                <div>
                                    <h2 class="education_year">14th June -07th July, 2023</h2>
                                    <span class="education_university">
                                        Contus Tech</span>
                                </div>
                                <div class="education_time">
                                    <span class="education_rounder"></span>
                                    <span class="education_line"></span>
                                </div>
                                <div>
                                    <h3 class="eduation_race">Web Developer</h3>
                                    <span class="education_university">HTML, CSS and JavaScript</span>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="certificate">
                    <div class="top-header">
                        <h1>Certificates</h1>
                    </div>
                    <div class="certificate_content">
                        <div class="box">
                            <img src="{% static 'img/ibm_logo.jpeg'%}" alt="">
                            <h3>Artificial Intelligence Fundamentals</h3>
                            <p>Issued Jan 2023</p>
                            <div class="share">
                                <a href="https://www.credly.com/badges/5f5f575d-640b-4907-8453-c4429b9e6755"
                                    class="fa-solid fa-award"></a>
                            </div>
                        </div>
                        <div class="box">
                            <img src="{% static 'img/great_learning_logo.jpeg'%}" alt="">
                            <h3>Introduction to JavaScript</h3>
                            <p>Issued Nov 2022</p>
                            <div class="share">
                                <a href="https://verify.mygreatlearning.com/verify/FRNBHGBS"
                                    class="fa-solid fa-award"></a>
                            </div>
                        </div>
                        <div class="box">
                            <img src="{% static 'img/nptel.jpeg'%}" alt="">
                            <h3>The Joy of Computing Using Python</h3>
                            <p>Issued Oct 2023</p>
                            <div class="share">
                                <a href="https://www.linkedin.com/posts/mohammad-faisal-j-936b39240_72-in-nptel-course-the-joy-of-computing-activity-7135461397336915968-3I96?utm_source=share&utm_medium=member_desktop"
                                    class="fa-solid fa-award"></a>
                            </div>
                        </div>
                        <div class="box">
                            <img src="{% static 'img/udemy_logo.jpeg'%}" alt="">
                            <h3>Flutter and Dart</h3>
                            <p>Issued May 2023</p>
                            <div class="share">
                                <a href="https://www.udemy.com/certificate/UC-bec46fc8-ac34-4988-933c-d685aa0a452b/"
                                    class="fa-solid fa-award"></a>
                            </div>
                        </div>
                        <div class="box">
                            <img src="{% static 'img/udemy_logo.jpeg'%}" alt="">
                            <h3>Java programming</h3>
                            <p>Issued Oct 2022</p>
                            <div class="share">
                                <a href="https://www.udemy.com/certificate/UC-024dbf41-b317-444b-92e1-1d380e6a744b/"
                                    class="fa-solid fa-award"></a>
                            </div>
                        </div>
                        <div class="box">
                            <img src="{% static 'img/hackerrank_logo.jpeg'%}" alt="">
                            <h3>Python (Basic)</h3>
                            <p>Issued Sep 2022</p>
                            <div class="share">
                                <a href="https://www.hackerrank.com/certificates/636853166046"
                                    class="fa-solid fa-award"></a>
                            </div>
                        </div>
                        <div class="box">
                            <img src="{% static 'img/hackerrank_logo.jpeg'%}" alt="">
                            <h3>SQL (Basic)</h3>
                            <p>Issued Jan 2023</p>
                            <div class="share">
                                <a href="https://www.hackerrank.com/certificates/b7f5844ffb4d"
                                    class="fa-solid fa-award"></a>
                            </div>
                        </div>
                        <div class="box">
                            <img src="{% static 'img/hackerrank_logo.jpeg'%}" alt="">
                            <h3>SQL (Advanced)</h3>
                            <p>Issued Jan 2023</p>
                            <div class="share">
                                <a href="https://www.hackerrank.com/certificates/3df7d00c36e1"
                                    class="fa-solid fa-award"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section" id="projects">
                <div class="top-header">
                    <h1>Projects</h1>
                </div>
                <div class="project-container">
                    <div class="project-box">
                        <i class="fa-solid fa-microphone-lines"></i>
                        <h3>Voice assistance</h3>
                        <label>Voice assistants help users efficiently manage tasks, access information, and provide
                            entertainment through natural speech interaction.<br>
                            <center><a href="https://github.com/Faiz-fs/violet-voice-assistant">link <i
                                        class="fa-solid fa-link"></i></a></center>
                        </label>
                    </div>
                    <div class="project-box">
                        <i class="fa-solid fa-chalkboard-user"></i>
                        <h3>STEMentor</h3>
                        <label>STEM Mentorship Program is an online platform that connects students and professionals.
                            This provide mentorship, networking opportunities, access to
                            resources, and training pursuing careers.<br>
                            <center><a
                                    href="https://github.com/Faiz-fs/STEMentor-Connecting-and-Empowering-Women-Pursuing-Careers-in-STEM">link
                                    <i class="fa-solid fa-link"></i></a></center>
                        </label>
                    </div>
                    <div class="project-box">
                        <i class="fa-solid fa-address-card"></i>
                        <h3>Attendance-Management-System</h3>
                        <label>Develop mobile attendance app with barcode scanning to track real-time student presence
                            in class for educators, with alerts for prolonged absences.<br>
                            <center><a href="https://github.com/Faiz-fs/attendance-management-system">link <i
                                        class="fa-solid fa-link"></i></a></center>
                        </label>
                    </div>
                    <div class="project-box">
                        <i class="fa-solid fa-lightbulb"></i>
                        <h3>Event website:Technofete'23</h3>
                        <label>event website with dynamic frontend using HTML, CSS, JS and Python Flask backend, robust
                            databases thanks to MongoDB, Firebase, and hosting by OnRender.<br>
                            <center><a href="https://github.com/Faiz-fs/technofete">link <i
                                        class="fa-solid fa-link"></i></a></center>
                        </label>
                    </div>
                    <div class="project-box">
                        <i class="fa-solid fa-table"></i>
                        <h3>Data entry:Tkinter</h3>
                        <label>Built a data entry application with graphical user interface in Python's tkinter module
                            for efficient input and storage of information in csv.
                            <br>
                            <center><a
                                    href="https://github.com/Faiz-fs/CraftCode-with-FS/tree/main/tkinter-Data_Entry_Project">link
                                    <i class="fa-solid fa-link"></i></a></center>
                        </label>
                    </div>
                    <div class="project-box">
                        <i class="fa-solid fa-file-circle-plus"></i>
                        <h3>CRUD Operation: JS & Django</h3>
                        <label>Built CRUD operations with JavaScript for dynamic client-side data manipulation and
                            Django for back-end content management and robust database infrastructure.
                            <br>
                            <center><a
                                    href="https://github.com/Faiz-fs/CraftCode-with-FS/tree/main/full%20js%20tut/javascript">JS-link
                                    <i class="fa-solid fa-link"></i></a> <a
                                    href="https://github.com/Faiz-fs/CraftCode-with-FS/tree/main/django/djangocrud">Django-link
                                    <i class="fa-solid fa-link"></i></a></center>
                        </label>
                    </div>
                </div>
            </section>

            <section class="section" id="contact">
                <div class="top-header">
                    <h1>Get in touch</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="contact-info">
                            <h2>Contact Me</h2>
                            <p><i class="fa-solid fa-envelope"></i> Email: mohfaiz0504@gmail.com</p>
                            <p><i class="fa-solid fa-phone"></i> Tel: +91 93457 39843</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-control">
                            <div class="form-inputs">
                                <input type="text" class="input-field" placeholder="Name" id="name" required>
                                <input type="text" class="input-field" placeholder="Email" id="mail" required>
                            </div>
                            <div class="text-area">
                                <textarea placeholder="Message" id="message"></textarea required>
                            </div>
                            <div class="form-button">
                                <button class="btn" onclick="provide()">Send <i class="fa-solid fa-paper-plane"></i></button>
                            </div>
                            <div class="top-header">
                                {% block content %}
                                {% if messages %}
                                {% for message in messages %}
                                <h1>{{message}}</h1>
                                {% endfor %}
                                {% else %}
                                <h1></h1>
                                {% endif %}   
                                {% endblock %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- --------------- FOOTER --------------- -->
        <footer>
            <div class="top-footer">
                <p>Mohammad Faisal J.</p>
            </div>
            <div class="middle-footer">
                <ul class="footer-menu">
                    <li class="footer_menu_list">
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer_menu_list">
                        <a href="#about">About</a>
                    </li>
                    <li class="footer_menu_list">
                        <a href="#projects">Projects</a>
                    </li>
                    <li class="footer_menu_list">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="footer-social-icons">
                <a href="https://www.linkedin.com/in/mohammad-faisal-j-936b39240/">
                    <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                </a>
                <a href="https://www.instagram.com/faiz.f_s?igsh=MWljNzExY2pvdWlucA==">
                    <div class="icon"><i class="fa-brands fa-linkedin"></i></div>
                </a>
                <a href="https://www.youtube.com/@CraftCodewithFs">
                    <div class="icon"><i class="fa-brands fa-youtube"></i></div>
                </a>
                <a href="https://github.com/Faiz-fs">
                    <div class="icon"><i class="fa-brands fa-github"></i></div>
                </a>
            </div>
        </footer>
    </div>

</body>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<script src="https://unpkg.com/scrollreveal"></script>

<script src="https://kit.fontawesome.com/c04ff74144.js" crossorigin="anonymous"></script>

<script src="{% static 'js/script.js'%}"></script>

</html>